<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Server Programming</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Edit book</h1>
    <form th:object="${book}" th:action="@{../save}" action="#" method="post">
        <input type="hidden" th:field="*{id}" class="form-control" />
        <label for="title">Title</label>
        <input type="text" id="title" th:field="*{title}" />
        <br>
        <label for="author">Author</label>
        <input type="text" id="author" th:field="*{author}" />
        <br>
        <label for="isbn">Isbn</label>
        <input type="text" id="isbn" th:field="*{isbn}" />
        <br>
        <label for="year">Publication year</label>
        <input type="text" id="year" th:field="*{publicationYear}" />
        <br>
        <label for="price">Price</label>
        <input type="text" id="price" th:field="*{price}" />
        <br>
        <label for="catlist">Category</label>
        <select id="catlist" th:field="*{category.categoryid}" class="form-control">
            <option th:each="cat: ${categories}" th:value="${cat.categoryid}" th:text="${cat.name}"></option>
        </select>
        <input type="submit" value="Save"></input>
    </form>
</body>

</html>